name: Sync with Hugging Face Hub

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    environment: HF_TOKEN
    steps:
    - name: Sync with Hugging Face
      uses: nateraw/huggingface-sync-action@v0.0.4
      with:
        github_repo_id: ntt-dkiku/hf_test
        huggingface_repo_id: oookiku/test
        repo_type: space
        space_sdk: streamlit
        hf_token: "${{ secrets.HF_TOKEN }}"
